roks-new-nlp/output/credentials.properties
roks-new-nlp/output/cluster-with-watson-nlp/variables.yaml
roks-new-nlp/output/cluster-with-watson-nlp/terraform/terraform.tfstate
roks-new-nlp/output/cluster-with-watson-nlp/terraform/terraform.tfvars
roks-new-nlp/output/cluster-with-watson-nlp/terraform/.terraform.lock.hcl
roks-new-nlp/output/cluster-with-watson-nlp/terraform/.terraform.tfstate.lock.info
roks-new-nlp/output/cluster-with-watson-nlp/terraform/terraform.tfvars.backup
roks-new-nlp/output/cluster-with-watson-nlp/terraform/terraform.tfstate.backup
roks-new-nlp/output/cluster-with-watson-nlp/terraform/.kube
roks-new-nlp/output/cluster-with-watson-nlp/terraform/.tmp
roks-new-nlp/output/cluster-with-watson-nlp/terraform/bin2
roks-new-nlp/output/cluster-with-watson-nlp/terraform/docs
roks-new-nlp/output/cluster-with-watson-nlp/terraform/.terraform
roks-new-nlp/output/cluster-with-watson-nlp/terraform/clis-debug.log
roks-new-nlp/output/launch.sh
roks-new-nlp/output/cluster-with-watson-nlp/apply.sh
roks-new-nlp/output/cluster-with-watson-nlp/bom.yaml
roks-new-nlp/output/cluster-with-watson-nlp/dependencies.dot 
roks-new-nlp/output/cluster-with-watson-nlp/destroy.sh
roks-new-nlp/output/cluster-with-watson-nlp/terraform

roks-existing-nlp/output
roks-existing-nlp/credentials.properties
roks-existing-nlp/output/credentials.properties

variables.yaml.tmp
credentials.properties
credentials.properties.backup
ReadNik.md
.DS_Store
.kube
cli-tools.yaml
multipass-restart.sh
Flip_Book_-_Automation_for_IBM_Watson_Deployments.pptx